<div class="d-flex flex-column h-100 justify-content-between">
  <div class="col-md-12 py-2 bg-light top-header">
    <div class="d-flex container">
      <p class="navbar-brand fw-bold fs-2 m-0">ShopBridge  <small class="fs-5">| Lets Shop</small></p>
    </div>
  </div>
  <div class="container main-div">
    <div class="row no-gutters col-md-12 py-2 m-0">
      <app-shopping-details></app-shopping-details>
    </div>
  </div>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <small class="text-muted">
        Copyright &copy; 2022 <cite title="Source Title">ShopBridge | Lets Shop</cite>
      </small>
    </div>
  </footer>
</div>